{% extends 'boost/base.html' %}
{% load static %}
{% block title %} About {% endblock %}


{% block body_block %}

<div class="container-fluid m-5">
    <div class="d-flex justify-content-center mt-3 mb-3">
        <h1>This is GateBoost</h1>
    </div>
    
<div class="container-fluid">
    <div class="row d-flex justify-content-around">
        <div class="col-md-3">
            <div class="card mt-3 mb-3">
                <img src="{% static "images/img1.svg"%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h2 class="card-title">Real Time Exam Simulation</h2>
                  <p class="card-text">Mimics the actual exam environment.Creates a timer that counts down during the test, replicating real
                    exam pressure.
                    May include features like question navigation (flagging, skipping, reviewing), similar to an actual
                    computer-based test.
                    Might offer limited breaks during the test, mirroring some real exams.</p>
                  {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card mt-3 mb-3">
                <img src="{% static "images/img2.svg"%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h2 class="card-title">Practice and revise until You Get Excellance</h2>
                  <p class="card-text"> Learning isn't just limited to classes with our practice section, mock tests and lecture notes shared as
                    PDFs for your revision
                    Through consistent practice, you develop muscle memory, improve your technique, and solidify your
                    understanding.</p>
                  {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card mt-3 mb-3" >
                <img src="{% static "images/img3.svg"%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h2 class="card-title">Detailed performance Report</h2>
                  <p class="card-text">Provides a comprehensive analysis of the user's performance after the mock test.Explanation for each
                    answer, including why the chosen answer is correct and why others are incorrect.Identification of missed
                    questions and areas for improvement..</p>
            
                  {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
                </div>
              </div>
        </div>

    </div>
</div>
<h1 class="text-center text-primary m-5">Your Mentors</h1>


<div class="container-fluid">
<div class="row d-flex justify-content-around">
    <div class="col-md-3">
        <div class="card">
            <img src="{% static "images/img4.png"%}" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Bhagyashri Patil</h2>
              <p class="card-text">10+ years of teching experience <br>
                AIR 10 in GATE 2025</p>
              {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="{% static "images/img4.png"%}" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Vidya Patil</h2>
              <p class="card-text">5+ years of teching experience <br>
                AIR 100 in GATE 2025</p>
              {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img src="{% static "images/img4.png"%}" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Rudra chaudhari</h2>
              <p class="card-text">15+ years of teching experience <br>
                AIR 15 in GATE 2025</p>
              {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
            </div>
          </div>
    </div>

</div>

<div class="m-5 d-flex justify-content-center">
    <a href="{% url 'boost:homepage' %}" class="btn btn-primary">Go to Home</a>
</div>




{% endblock %}