{% extends 'boost/base.html' %}

{% block title %} Forget Password {% endblock %}

{% block body_block %}

<div class="container d-flex justify-content-center align-items-center m-5">
    <div class="jumbotron">
        
        <form action=""  method="POST" class="form-control">
            {% csrf_token %}

            
            <div class="m-3 d-flex justify-content-center">
                <p class="fs-2">Password Recovery</p>
            </div>

            <div class="m-3 d-flex justify-content-center">
                <p>Enter your mail and we will send you your password.</p>
            </div>

            <div class="m-3">
                <label for="email" class="form-label ">Email</label>
                <input type="email" name="email"  class="form-control  rounded " placeholder="Enter registered email" id="email">
            </div>

            <div class="mb-3 d-flex justify-content-center">
                <input type="submit" class="btn btn-primary btn-sm w-75">
            </div>

            
            
            <div class="m-3 d-flex justify-content-center">
                <p class="text-danger">{{error}}</p>
            </div>
        
            
            <div class="mb-3 d-flex justify-content-center">
                <small class="">Not on Gateboost? <a href="{% url 'accounts:register'%}">Register</a></small>
            </div>
            
    
    
    
    
        </form>
    </div>
    
</div>






{% endblock %}